<script>
	export default {
		onLaunch: function() {
			this.$store.dispatch('getContextUserInfo').then().catch(e => {
			      console.log('项目启动初始化错误!....', e);
			    });
		},
		onShow: function() {
		},
		onHide: function() {
		}
	}
</script>

<style lang="scss">
	/* 注意要写在第一行，同时给style标签加入lang="scss"属性 */
	@import "src/components/uview-ui/index.scss";
	/*每个页面公共css */
	@import "src/assets/common.scss";
</style>
