@import "constant";

body, div, p {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: system-ui;
  background: white;

  #app {
    height: 100%;

    .ant-layout {
      height: 100%;
    }
  }
}

.col-scroll-page {
  height: 100%;
  overflow: hidden
}

//-------------------------------------------- base
img.img-responsive {
  max-width: 100%;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.thumbnail {
  max-width: 40px;
  max-height: 24px;
  cursor: pointer;
}

pre {
  margin: 0;
}

.dol-loading-spin.ant-spin {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;

  > .ant-spin-dot {
    margin-top: 25%;
  }
}

.color-black {
  color: black !important;
}
.color-red {
  color: #FA3030;
}

.color-blue {
  color: #2075CF;
}

.color-grey {
  color: #999999;
}

.color-orange {
  color: #FECE10;
}

//-------------------------------------------- main
.mainLayout {
  padding: 0 20px;
}

.breadcrumb {
  margin: 10px 0;
}

.mainContent {
  margin: 0;
  overflow-x: hidden;
}

//-------------------------------------------- header
.dol-header.ant-layout-header {
  padding: 0 50px 0 20px;
  background: #ffffff;

  .logo {
    float: left;
    text-align: center;
    font-size: 22px;
    cursor: default;
    margin-right: 20px;
    font-family: 'system-ui, 微软雅黑';
    font-weight: 700;
  }

  .mainMenu {
    line-height: 64px;
    margin-right: 50px;
    font-size: 16px;
  }

  .account {
    float: right;

    &.accountInfo {
    }

    img.accountIcon {
      height: 24px;
      margin-right: 10px;
    }
  }
}

.index-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(#030305, #3B517E); /* 标准的语法 */
  padding: 10% 20%;

  .bg {
    position: absolute;
    top: 25%;
    left: 50%;
    height: 450px;
    margin-left: -453px;
  }

  .staff-image {
    position: absolute;

    &.leftTop1 {
      width: 6%;
      height: 42%;
      left: 4%;
      top: 3%;
    }

    &.leftTop2 {
      width: 10%;
      left: 10%;
      top: 15%;
    }

    &.leftTop3 {
      width: 2%;
      left: 11%;
      top: 32%;
    }

    &.leftBottom {
      width: 10%;
      left: 3%;
      bottom: 5%;
    }

    &.rightTop {
      width: 3%;
      right: 30%;
      top: 10%;
    }

    &.rightBottom {
      width: 20%;
      right: 5%;
      bottom: 15%;
    }
  }

  .close-icon {
    position: absolute;
    right: 50px;
    top: 50px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(152, 170, 189, 1);
    font-size: 22px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }

  .index-menu__block {
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    cursor: pointer;
    height: 150px;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    .index-menu_text {
      color: white;
      margin-top: 10px;
      font-size: 18px;
    }

    .index-menu__icon {
      font-size: 36px;
    }
  }
}

//-------------------------------------------- menu
.dol-menu-panel {
  height: 100%;
  display: flex;
  flex-direction: column;

  .dol-menu-collapse {
    color: #ffffff;
    padding: 10px;
    border-bottom: 1px solid #41505F;
    text-align: center;
    cursor: pointer;
  }

  .menu-title {
    height: 64px;
    background: #2075CF;
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;

    img {
      max-width: 80%;
      max-height: 80%;
    }
  }

  .dol-menu, .sideMenu {
    flex: 1;
    overflow-y: hidden;
    overflow-x: hidden;

    &:hover {
      overflow-y: auto;
    }
  }
}


//-------------------------------------------- footer
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 12px;
  color: $fontColor6;
  padding: 10px;
  text-align: center;
}

//-------------------------------------------- index count

//-------------------------------------------- dolphin


//header
.van-nav-bar__left, .van-nav-bar__right {
  top: 0;
}


//img

img {
  width: 100%;
  object-fit: cover;
}


//公用
.inline-block {
  display: inline-block;
}

.top8 {
  margin-top: 8px;
}

.top10 {
  margin-top: 10px;
}

.top15 {
  margin-top: 15px;
}

.bottom50 {
  margin-bottom: 50px;
}


.padding14{
  padding: 0 14px;
}
.margin-top-bottom-10 {
  margin: 10px 0;
}

.font-color-6 {
  color: $fontColor6;
}

.font-color-7 {
  color: $fontColor7;
}
.font-color-10 {
  color: $fontColor10;
}

.header-title {
  font-size: 16px;
  font-weight: 600;
  height: 20px;
  padding: 14px;
}

.bg-theme{
  background: $bgColor3;
}

.bg-btn{
  background: $btnColor;
}

.price-red{
  font-size: 18px;
  font-weight: 700;
  color: red;
}

//btn
.sports-club-btn{
  background: $btnColor;
  height: 100%;
  max-width: 150px;
  text-align: center;
  border-radius: 6px;
  margin: auto;
  font-size: 16px;
  font-weight: 600;
  color: white;

}

//分割线默认样式
.van-divider {
  margin: 0;
  padding: 0 14px;
  background: white;
  border-color: $fontColor9;
}




.sport-goods-action{
  height: 50px;

  .sport-goods-action-bottom {
    width: 20%;

    .sport-goods-action-bottom-share {
      width: 100%;
      text-align: center;
      font-size: 12px;
      .van-icon, .van-icon::before{
        display: block;
        text-align: center;
        font-size: 20px;
      }
    }
  }

  .van-submit-bar__bar{
    padding: 0;
  }
  .van-submit-bar__button--danger{
    background: #DDDDDD;
    color: #FECE10;
    height: 100%;
    //width: 150px;
  }
  .van-button--danger{
    height: 40px;
    background: #FECE10;
    color: black;
  }
  .van-goods-action-button--last{
    margin: 0 14px;
  }
}


//单行文本
.hidden-text{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

//loading
.van-loading{
  position: absolute;
  top: 40%;
  left: 50%;
  right: 50%;
  z-index: 100;
}

.icon-top-2{
	position: relative;
	top: 2px;
}

.icon-top-4{
	position: relative;
	top: 4px;
}

.icon-top-6{
	position: relative;
	top: 6px;
}

textarea{
  height: 101px !important;
}

.bac-white{
  background-color: $whiteColor;
}
