//path
$publicPath: '';
//color
$primaryColor: #409EFF;
$activeColor: lighten($primaryColor, 1.2);

$successColor: #67C23A;
$warningColor: #E6A23C;
$dangerColor: #F56C6C;
$infoColor: #909399;

$whiteColor: #ffffff;

$boxShadow: rgba(0, 0, 0, 0.12);

//font
$fontPrimary: #BBBBBB;
$fontColor: #303133;
$fontColor2: #606266;
$fontColor3: #909399;
$fontColor4: #C0C4CC;
$fontColor5: #EFEFEF;
$fontColor6: #999999;
$fontColor7: #666666;
$fontColor8: #1B1B1B;
$fontColor9: #DDDDDD;
$fontColor10: #FA3030;

//border
$borderColor: #DCDFE6;
$borderColor2: #E4E7ED;
$borderColor3: #EBEEF5;
$borderColor4: #F2F6FC;

//background
$bgColor: #FAFAFA;
$bgColor2: #F5F5F5;
$bgColor3: #FECE10;


//btn color
$btnColor: #FECE10;
$btnColor1: #e4b610;
$btnColor2: #FA3030;

//border
$inputBorder: #EEEEEE;

//component

